#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: fixed;
  left: 615px;
  top: 300px;
  display: none;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#bring{
    position: fixed;
    bottom: 90px;
    right: 40px;
    background-color: white;
    color: black;
    height: 25px;
    width: 300px;
    text-align: center;
    font-size: 20px;

}
#bring a{
    text-decoration: none;
    color: black;
}
#bring a:hover{
    color: white;
}
#bring:hover{
    background-color: black;
    color: white;
}
#header{
    font-family: Arial;
    border-top: solid 6px;
    border-bottom: solid 6px;
    text-align: center;
    width: 100%;
    height: 100px;
}
#header #title{
    font-size: 40px;
}
#header #subtitle{
    font-family: apple-system;
    font-size: 20px;
}

#main{
    margin-top: 50px;
    width: 100%;
    background-color: organge;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#upload{
    position: absolute;
    width: 300;
    height: 508px;
    text-align: center;
    border: dashed 5px;
}
#upload img{
    width: 100%;
    height: 100%;
}

#sketch{
    border: solid 4px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}